# carpetas para la ejecucion
resultados
configuraciones
imagen_obviar

#del vscode
.vscode

#del jupyter
Pruebas.ipynb

# de compilacion
dist
build
script_principal.spec
/bin/script_principal

# los archivos path-windows
path/edgedriver_win64
path/chromedriver_win32

# los archivos path-linux 
path/chromedriver

# binarios de python
lib/__pycache__